<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

	<div>
		<label for="wcaFormCOLUMN22">First Name</label>
		<input type="text" formControlName="COLUMN22" id="wcaFormCOLUMN22">
	</div>

	<div>
		<label for="wcaFormCOLUMN28">Last Name</label>
		<input type="text" formControlName="COLUMN28" id="wcaFormCOLUMN28">
	</div>

	<div>
		<label for="wcaFormEMAIL">Email</label>
		<input type="email" formControlName="EMAIL" id="wcaFormEMAIL" email required>
	</div>

	<div>
		<div>New Player</div>
		<div *ngFor="let answer of playerAnswers">
			<input type="radio" formControlName="COLUMN92" [value]="answer" id="wcaForm{{answer}}">
			<label for="wcaForm{{answer}}">{{answer}}</label>
		</div>
	</div>

	<div formArrayName="COLUMN111">
		<div>Interests</div>
		<div *ngFor="let interest of COLUMN111.controls; let i=index" [formGroupName]="i">
			<input type="checkbox" formControlName="checked" id="wcaForm{{interest.controls.name.value}}">
			<label for="wcaForm{{interest.controls.name.value}}">{{interest.controls.name.value}}</label>
		</div>
	</div>

	<div>
		<button type="submit" [disabled]="!form.valid || loading">Submit</button>
	</div>
</form>

<div>Form values:</div>
<div>{{ form.value | json}}</div>
