.wca-form {
	.cell {
		margin: auto;
	}

	.wca-debug {
		margin-top: 50px;
	}

	.group-label {
		display: block;
		margin: 0;
		font-size: 0.875rem;
		font-weight: normal;
		line-height: 1.8;
		color: #0a0a0a;
	}

	.radio-button {
		float: left;
	}
}
