.wca-form {
	.cell {
		margin: auto;
	}

	.titlebar {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
	}

	.title {
		font-size: 1.875rem;
		font-family: 'Vidaloka', georgia, 'Times New Roman', serif;
	}

	.wca-debug {
		margin-top: 50px;
	}

	.group-label {
		display: block;
		margin: 0;
		font-size: 0.875rem;
		font-weight: normal;
		line-height: 1.8;
		color: #0a0a0a;
	}

	.radio-button {
		float: left;
	}

	select, option {
		font-size: 0.875rem;
	}

	.terms {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 0.8em;
	}

	.success {
		font-weight: bold;
		margin-bottom: 20px;
	}

	.error {
		color: #cc4b37;
		font-weight: bold;
		margin-bottom: 20px;
	}
}

.spinner {
	border: 5px solid black;
	border-radius: 50%;
	border-top: 5px solid white;
	width: 25px;
	height: 25px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-right: 20px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
