<div class="grid-x wca-form">
	<div class="cell medium-8">

		<div class="titlebar">
			<div *ngIf="title && !isSubmitted" wchEditable="title" class="title">{{ title }}</div>
		</div>
		
		<p *ngIf="submitMessage && isSubmitted" wchEditable="submitMessage" class="submit-msg">{{ submitMessage }}</p>

		<form ngNoForm [ngClass]="{'hidden':isSubmitted}" method="post" [action]="actionUrl.linkURL" target="_blank" (submit)="onSubmit()">

			<!-- iterate over all the form controls -->
            <ng-container *ngFor="let e of formElements; trackBy: trackByComponentId">
                <wch-contentref [renderingContext]="e"></wch-contentref>
            </ng-container>

			<p *ngIf="terms" wchEditable="terms" class="terms">{{ terms }}</p>

			<input *ngIf="submitButtonLabel" type="submit" value="{{ submitButtonLabel }}" class="button button-dark expanded">

		</form>

	</div>
</div>
