.wca-form {
	.cell {
		margin: auto;
	}

	.titlebar {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
	}

	.title {
		font-size: 1.875rem;
		font-family: 'Vidaloka', georgia, 'Times New Roman', serif;
	}

	form.hidden {
		display: none;
	}

	label {
		display: inline;
	}

	.required-star {
		color: #cc4b37;
		margin-left: 5px;
	}

	.group-label {
		display: block;
		margin: 0;
		font-size: 0.875rem;
		font-weight: normal;
		line-height: 1.8;
		color: #0a0a0a;
	}

	select, option {
		font-size: 0.875rem;
	}

	.terms {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 0.8em;
	}

	.submit-msg {
		font-weight: bold;
		margin-bottom: 20px;
		text-align: center;
	}
}
