<div class="grid-x wca-form">
	<div class="cell medium-8">

		<div class="titlebar">
			<div *ngIf="isLoading" class="spinner"></div>
			<div *ngIf="title" wchEditable="title" class="title">{{ title }}</div>
		</div>

		<iframe [ngClass]="{'hidden':!isSubmitted}" (load)="onLoadFrame()" name="resultFrame" id="resultFrame"></iframe>

		<form ngNoForm *ngIf="!isSubmitted" [formGroup]="form" method="post" [action]="actionUrl.linkURL" target="resultFrame" (ngSubmit)="onSubmit()">

			<!-- iterate over all the form controls -->
			<ng-container *ngFor="let element of formData" [ngSwitch]="element.type">

				<!-- simple default (includes the text type) -->
				<ng-container *ngSwitchDefault>
					<label for="wcaForm{{element.name}}">{{ element.label }}</label>
					<input [type]="element.type" [name]="element.name" formControlName="{{element.name}}" id="wcaForm{{element.name}}" [placeholder]="element.placeholder">
				</ng-container>

				<!-- radio button groups -->
				<ng-container *ngSwitchCase="'radio'">
					<div class="group-label">{{ element.label }}</div>
					<div class="radio-group">
						<ng-container *ngFor="let option of element.options">
							<input type="radio" [name]="element.name" [value]="option" id="wcaForm{{option}}">
							<label for="wcaForm{{option}}">{{ option }}</label>
						</ng-container>
					</div>
				</ng-container>

				<!-- select dropdown menus -->
				<ng-container *ngSwitchCase="'select'">
					<div class="group-label">{{ element.label }}</div>
					<select [name]="element.name" formControlName="{{element.name}}">
						<option value="">Select one</option>
						<option *ngFor="let option of element.options" [value]="option">{{ option }}</option>
					</select>
				</ng-container>

				<!-- checkbox groups -->
				<ng-container *ngSwitchCase="'checkbox'" [formArrayName]="element.name">
					<div class="group-label">{{ element.label }}</div>
					<ng-container *ngFor="let option of element.formArray.controls; let i=index" [formGroupName]="i">
						<input type="checkbox" [name]="element.name" formControlName="checked" [value]="option.controls.label.value" id="wcaForm{{option.controls.label.value}}">
						<label for="wcaForm{{option.controls.label.value}}">{{ option.controls.label.value }}</label>
					</ng-container>
				</ng-container>

			</ng-container>
		
			<p *ngIf="terms" wchEditable="terms" class="terms">{{ terms }}</p>

			<button type="submit" [disabled]="!form.valid || isLoading" onclick="submit()" *ngIf="submitButtonLabel" wchEditable="submitButtonLabel" class="button button-dark expanded">
				{{ submitButtonLabel }}
			</button>

		</form>

	</div>
</div>
