.wca-form {
	.cell {
		margin: auto;
	}

	.titlebar {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
	}

	.title {
		font-size: 1.875rem;
		font-family: 'Vidaloka', georgia, 'Times New Roman', serif;
	}

	form.hidden {
		display: none;
	}

	.terms {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 0.8em;
	}

	.submit-msg {
		font-weight: bold;
		margin-bottom: 20px;
		text-align: center;
	}
}
